---
permalink: "/search.json"
---
[
{%- for post in collections.all -%}
  {
  "title": "{{ post.data.title }}",
  "author": "{{ post.data.author }}",
  "category": "{{ post.data.category }}",
  "date": "{{ post.data.date }}"
  }
  {%- if not loop.last -%}
    ,
    {%- endif -%}
{%- endfor -%}
]