<div class="App">
    <div class="container">

    <header>
        <h1 class="logo">
            <span role="img" aria-label="Stack of books">📚</span> <span class="logo-text">Small reviews</span>
        </h1>
    </header>

    <div class="container-inner">
        <div class="cards">

                <div class="card-intro">
                    <p>Here's some thoughts on things I've finished and felt like I wanted to capture for my future reference.</p>
                    <p>⭐: actively disliked this<br />
                    ⭐⭐: meh<br />
                    ⭐⭐⭐: enjoyable but not notable<br />
                    ⭐⭐⭐⭐: really great; would recommend<br />
                    ⭐⭐⭐⭐⭐: utterly brilliant!</p>
                </div>