{% include "partials/base.njk" %}
{% include "partials/headerintro.njk" %}
                <div><a href="/">2024</a> | <a href="/2023">2023 | </a><a href="/2022">2022</a> | 2021</div>

                <div class="summary--holder">
                    <div class="summary--book">
                        <p>Books read this year<br/>{{ collections.books2021.length }}</p>
                    </div>

                    <div class="summary--game">
                        <p>Games played this year<br />{{ collections.games2021.length }}</p>
                    </div>
                </div>

                {# todo: fix whitespace. collections.review #}
                {%- for review in collections[2021] | reverse -%}
                    <div id='{{ review.data.category }}{{ review.data.date }}' class="card card--{{- review.data.category | lower -}}"><p class="card-title">
                        {%- if (review.data.category == "Book") -%}
                        <span role="img" aria-label="Open book">📖</span> {{ review.data.title }} by {{ review.data.author -}}
                        {%- else -%}
                            <span role="img" aria-label="Game controller">🎮</span> {{ review.data.title -}}
                        {%- endif -%}
                        </p><p>Finished: {{ review.data.dateFinished -}} </p><div class="stars stars--{{- review.data.category | lower -}}" style="--rating: {{- review.data.rating -}}"></div>{{- review.content | safe -}}</div>
                {%- endfor -%}
{% include "partials/footer.njk" %}